@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Rajdhani&display=swap');

/* font-family: 'Creepster', cursive;
font-family: 'Rajdhani', sans-serif; */

#intro-home {
  position: relative;
  background-repeat: no-repeat;
width: 100%; 
}

.class {
  background-color: rgba(0, 0, 0, 0.7);
}

#jumbotron {
padding: 0px;
color: inherit;
background-color: transparent;
margin-bottom: 0px;
}

.p-background {
    position: absolute;
    display: flex;
    justify-content: center; 
    background-color: transparent;
    bottom: 10px;
    left: 40%;
}
#btn {
border: solid 2px white;
background-color: #0fb0dc;
margin: 20px;
padding: 15px;
width: 150px;
border-radius: 45%;
font-family: 'Creepster', cursive;
font-size: 25px;
}