@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Rajdhani&display=swap');

/* font-family: 'Creepster', cursive;
font-family: 'Rajdhani', sans-serif; */

.mr-auto {
  font-family: 'Creepster', cursive;
  font-size: 30px;
}